In [1]:
mylist = ['banana', 'cherry', 'apple']
mylist

['banana', 'cherry', 'apple']

In [2]:
lst = [5, True, 'apple', 'B']
lst

[5, True, 'apple', 'B']

In [3]:
for i in lst:
    print(i)

5
True
apple
B

In [5]:
if 'orange' in mylist:
    print("Yes")
else:
    print('No')

No

In [7]:
len(mylist) ## reflects number of elements

3

In [8]:
## append

mylist.append('lemon')
mylist ## now length will become 4

['banana', 'cherry', 'apple', 'lemon']

In [9]:
## insert element at a certain index

mylist.insert(1, 'blueberry')
mylist

['banana', 'blueberry', 'cherry', 'apple', 'lemon']

In [10]:
print(mylist)
itm = mylist.pop() ## it always pop out the last item
print(itm)
print(mylist)

['banana', 'blueberry', 'cherry', 'apple', 'lemon']
lemon
['banana', 'blueberry', 'cherry', 'apple']

In [11]:
mylist.remove('banana') ## will remove a specific element
mylist

['blueberry', 'cherry', 'apple']

In [14]:
try:
    mylist.remove('lemon')
    mylist
except:
    print("Element isn't available in the list.")

Element isn't available in the list.

In [ ]:
mylist.clear() ## remove all the item from the list

In [30]:
mylist.reverse()
mylist

['apple', 'cherry', 'blueberry']

In [29]:
num_list = [-1,-2,-3,-4,0,4,3,2,1]

num_list.sort()
num_list

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

In [33]:
num_list.reverse()
num_list

[4, 3, 2, 1, 0, -1, -2, -3, -4]

In [22]:
import random

num1 = [i for i in range(0,6)]
num2 = [random.randint(1, 100) for _ in range(10)]

new_list = num1 + num2
new_list.sort
new_list

[0, 1, 2, 3, 4, 5, 22, 31, 60, 73, 41, 54, 45, 26, 97, 43]

In [23]:
## Indexing & Slicing

## First five elements

new_list[:5]

[0, 1, 2, 3, 4]

In [25]:
## show elements from index 1 to 5

new_list[1:6]

[1, 2, 3, 4, 5]

In [26]:
## adding step
print("List without steps:", new_list)
print("List with 1 steps from idx=1:", new_list[1::1])

List without steps: [0, 1, 2, 3, 4, 5, 22, 31, 60, 73, 41, 54, 45, 26, 97, 43]
List with 1 steps from idx=1: [1, 2, 3, 4, 5, 22, 31, 60, 73, 41, 54, 45, 26, 97, 43]

In [37]:
## reverse the list using indexing


print(new_list[::-1])

[43, 97, 26, 45, 54, 41, 73, 60, 31, 22, 5, 4, 3, 2, 1, 0]

In [38]:
new_list.reverse()
new_list

[43, 97, 26, 45, 54, 41, 73, 60, 31, 22, 5, 4, 3, 2, 1, 0]